@using System.ServiceModel;
@using System.ServiceModel.Channels;
@using CoreWCFWebClient1.Extensions;
@using ServiceReference1;
@using System.ServiceModel.Security;
@using System.Security.Cryptography.X509Certificates;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{

    string username = "someuser";
    string password = "somepassw0rd";

    var client = new ServiceClient().WithBasicAuth<IService, ServiceClient>(username, password);

    var result = await client.GetDataAsync(42);

    <h5>@Html.Raw(result)</h5>

}